<#@ template language="C#" debug="true" hostspecific="true"
#><#@ include file="../../../src/t4tinytypes/tinytypes.ttinclude"
#><#
using(var scope = CreateScope())
{
    scope.Generate(NewValueType("TinyString", String));
    scope.Generate(NewValueType("Distance1", Int));
    scope.Generate(NewValueType("Distance2", Double));
    scope.Generate(NewValueType("Currency", Decimal));
}
#>