<#@ template language="C#" debug="true" hostspecific="true"
#><#@ include file="../../../src/t4tinytypes/tinytypes.ttinclude"
#><#
using(var scope = CreateScope())
{
    scope.Generate(NewValueType("TinyString", String));
    scope.Generate(NewValueType("TinyInt", Int));
    scope.Generate(NewValueType("TinyDouble", Double));
    scope.Generate(NewValueType("TinyDecimal", Decimal));
    scope.Generate(NewValueType("TinyChar", Char));
    scope.Generate(NewValueType("TinyBool", Bool));
}
#>